@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap')
    
.about
    background-color: #E4E5EC
    margin-top: 10rem
    margin-left: 32rem
    padding-bottom: .8rem
    padding-left: 2rem
    padding-top: 10rem
    border-radius: 10px
    border: 2px solid #BDC0D6
    width: 50%
    margin-bottom: 2rem

    .começo
        font-family: 'Source Code Pro', monospace
        color: #040E34
        margin-top: -8rem

    .textos
        padding-left: 10rem
        padding-right: 10rem
        
        p
            color: #404040
            font-family: 'Signika Negative', sans-serif

#social-networks
    display: flex
    justify-content: center
    gap: 1rem
    .social-btn
        padding: .6rem
        background-color: #ECECEF
        border: 2px solid #BDC0D6
        border-radius: 5px
        color: #333
        font-size: 1.3rem

    .social-btn:hover
        border: 2px solid #040E34
        
    #linkedin
        color: #040E34

    #github
        color: #040E34
    
    #whatsapp
       color: #040E34


.fim
    font-family: 'Source Code Pro', monospace
    color: #040E34
    margin-left: 55rem