@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap')
@import '../variables'

.experiencias-container
  display: flex
  padding-bottom: 3rem
  min-height: 100%
  .experiencias-menu
    cursor: pointer
    height: fit-content

  .experiencias-conteudo
    padding-left: 5rem
    width: 100%

  .items-menu
    margin-left: -50px
    list-style-type: none

    li
      margin-left: 30px
      border-bottom: 1px solid var(--secbackground-color-light)
      cursor: pointer
      transition: color 0.3s 

      &:last-child
        border-bottom: none

.exp
  font-family: 'Source Code Pro', monospace
  margin-left: 10rem


.tit
  margin-bottom: 1rem



.menu-titulo
  margin-bottom: 0.5rem
  margin-left: 1rem
  margin-right: 2rem

.descricao
  font-family: 'Signika Negative', sans-serif
  width: 70%

.light-mode
  .descricao, .data
    color: #3a3a3a
  .experiencias-container 
    border-bottom: 1px solid var(--secbackground-color-light)
    cursor: pointer
    transition: color 0.3s
  .exp, .fimexp, .tit, .menu-titulo, .descricao
    &.ativo
      color: white
  .experiencias-menu
    background-color: var(--secbackground-color-light)
  .items-menu li
    &.ativo
      color: #0843af
  .começo
      color: var(--footer-background-light)
  .fimexp
      color: var(--footer-background-light)
  .subtit
    font-weight: bold
    color: #0843af
    font-size: 110%
    
.dark-mode
    
   .descricao
    
    color: #c7c7c7
   .experiencias-container .items-menu li
    border-bottom: 1px solid var(--secbackground-color-dark)
    cursor: pointer
    transition: color 0.3s
    
   .exp, .fimexp, .tit, .menu-titulo, .descricao
    &.ativo
      color: var(--purple-dark-mode) // Aplique os estilos quando a classe .ativo estiver presente no modo escuro
   .experiencias-menu
    background-color: var(--secbackground-color-dark)
    .items-menu li
      // Cor no modo escuro
      &.ativo
        color: var(--purple-dark-mode)
    
.subtit
      font-weight: bold
      color: var(--purple-dark-mode)
      font-size: 110%

.começo
    color: var(--purple-dark-mode)

.fimexp
    color: var(--purple-dark-mode)

@media (max-width: 992px)
  .exp
      display: flex
      flex-direction: column
      margin: 0

  .experiencias-container
    margin: 0
    display: flex
    flex-direction: column
  .experiencias-menu
    display: flex
    padding: 0
    width: 25%
    margin-left: 45%
    margin-top: 3rem
    margin-bottom: 5rem
    justify-content: center
    align-items: center
    .menu-titulo
      font-size: 2vw
  .começo
    margin-left: 10vw
  .tit
    width: 80%
@media(max-width: 709px)
  .experiencias-container .experiencias-menu 
    width: 30%
    margin-left: 35%
    .menu-titulo
      font-size: 4vw
    
@media (max-width: 380px)
  .experiencias-container .experiencias-conteudo 
    margin-left: -10%
    width: 100%
