@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap')
@import '../variables'

footer
  font-family: 'Source Code Pro', monospace
  display: flex
  justify-content: space-around
  align-items: center
  width: 100%
  padding-top: 2%
  padding-bottom: 2%
  p
    margin: 0
    font-family: 'Signika Negative', sans-serif

.dark-mode footer
  background-color: var(--footer-background-dark)
  p
    color: var(--text-color-dark)

.light-mode footer
  background-color: var(--footer-background-light)
  p
   color: var(--text-color-dark)

@media (max-width: 464px)
  footer
    font-size: 90%
@media (max-width: 415px)
  footer
    font-size: 80%

@media (max-width: 384px)
  footer
    font-size: 70%

@media (max-width: 320px)
  footer
    font-size: 60%