@import '../variables'

header
  font-family: 'Source Code Pro', monospace
  position: fixed 
  top: 0 
  left: 0 
  right: 0 
  z-index: 999 
  display: flex
  justify-content: center
  align-items: center
  height: 3vw
  gap: 70px
  border-bottom: 1px solid #BDC0D6

 

.light-mode header
  background-color: var(--background-color-light)
  color: var(--text-color)
  border-bottom: 1px solid #BDC0D6

.light-mode a
  list-style: none 
  display: flex
  color: var(--text-color-light)
  
.light-mode a:hover
  color: blue

.dark-mode header
  background-color: var(--background-color-dark)
  color: var(--text-color-dark)
  border-bottom: 1px solid #222222

.dark-mode a
  list-style: none 
  display: flex
  color: var(--text-color-dark)

.dark-mode a:hover
  color: var(--purple-dark-mode)

.dark-mode h1
  color: var(--purple-dark-mode)

.dark-mode .slider-label .slider
  background-color: black
.light-mode .slider-label .slider
  background-color: white
.dark-mode .slider-indicator
  background-color: white
.light-mode .slider-indicator
  background-color: black
.dark-mode .moon-icon
  color: yellow

.light-mode .sun-icon
  color: orange

  

nav ul
  list-style: none 
  display: flex 

  li
      margin-right: 50px 
      border: none

      a
        text-decoration: none 
        font-weight: bold
        


.slider-label
  position: relative
  display: inline-block
  width: 60px
  height: 34px

.slider-label input
  display: none

.slider-label .slider
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #ccc
  border-radius: 34px
  transition: 0.4s
  overflow: hidden

.slider-indicator
  width: 50%
  height: 100%
  border-radius: 34px
  transition: 0.4s

.slider-label input:checked + .slider .slider-indicator
  transform: translateX(100%)

.slider-label input:checked + .slider .moon-icon
  opacity: 1

.slider-label input:checked + .slider .sun-icon
  opacity: 0

.moon-icon
  opacity: 0
  position: absolute
  left: 15%
  top: 25%

.sun-icon
  position: absolute
  left: 60%
  top: 25%

.header-responsive
  display: none
@media (max-width: 992px) 
  .dark-mode .header
    background-color: var(--secbackground-color-dark)

  .light-mode .header
    background-color: var(--secbackground-color-light)



  
  .header 
    width: 100%
    height: 25vw
    display: flex
    z-index: 1000

    
    h1 
      display: none
    
  
    .nav-bar 
      position: absolute
      top: 10.6vh
      right: 0
      width: 100vw
      height: 92vh
      background-color: var(--border-color-dark)
      display: flex
      flex-direction: column
      transform: translateX(-100%)
      transition: transform 0.4s // Adiciona uma transição suave
  
      &.active 
        transform: translateX(0) // Quando a classe .active é aplicada, o menu desliza para a esquerda
      
  
      ul 
        display: flex
        flex-direction: column
        justify-content: space-around
        gap: 30vw
        li 
          margin-left: 16vw
          display: flex
        
      
    
  
    nav ul li a 
      margin-top: 0.1rem
      text-decoration: none
      font-weight: bold
      font-size: 30px
      color: grey
    
  
    .mobile-menu 
      display: block
      cursor: pointer
  
      .line1, .line2, .line3 
        width: 25px
        height: 2px
        background-color: grey
        margin: 6px 0
        margin-right: 10rem
        transition: 0.4s
      
      
      &.open 
        .line1 
          transform: rotate(-45deg) translate(-5px, 6px)
        
        .line2 
          opacity: 0
        
        .line3 
          transform: rotate(45deg) translate(-5px, -6px)
        
      
    
  

      