
header
  background-color: #ECECEF
  font-family: 'Source Code Pro', monospace
  color: #010514
  position: fixed 
  top: 0 
  left: 0 
  right: 0 
  z-index: 999 
  display: flex
  justify-content: center
  align-items: center
  gap: 70px
  border-bottom: 1px solid #BDC0D6

  nav ul
    list-style: none 
    display: flex 
    li
      margin-right: 50px 

      a
        text-decoration: none 
        color: #040E34
        font-weight: bold


