@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap')
@import '../variables'


.text-cards
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-bottom: 2rem
.knowl
  width: 100%
  .desc
      margin-left: 4rem
      width: 80%
.começo-con
  padding-top: 1rem
  margin-left: 10rem
  max-height: 100%
  font-family: 'Source Code Pro', monospace

  p
    font-family: 'Signika Negative', sans-serif

  .descricao-conhecimentos
    text-align: left
    margin-left: 11vw
    max-width: 30%
    max-height: 1%

.cards
  margin-top: 1vw
  display: grid

  grid-template-columns: repeat(4, 6vw)
  gap: 1vw
  justify-content: flex-end
  font-family: 'Signika Negative', sans-serif
  max-height: 1%

  .card
    height: 2rem
    padding: 0.5rem
    border: 2px solid var(--secbackground-color-light) // Usando a variável para a cor da borda
    display: flex
    justify-content: center
    transition: border 0.3s

    svg
      font-size: 2rem
  

    
.light-mode
  .knowl
    background-color: var(--secbackground-color-light)
    p
      color: #353535
  .cards .card
    border: 2px solid #d0d1f8
    background-color: var(--background-color-light)
    &:hover
      border: 2px solid var(--footer-background-light)
  svg
    color: var(--footer-background-light)
      

  .começo-con
    color: #040E34

.dark-mode
  .knowl
        background-color: var(--secbackground-color-dark)
  .cards .card
    border: 2px solid #3f3f3f
    background-color: var(--background-color-dark)
    svg
        color: var(--purple-dark-mode)
    &:hover
      border: 2px solid var(--purple-dark-mode)
.começo-con
    color: var(--purple-dark-mode)


@media (max-width: 1024px)
  .text-cards
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-bottom: 2rem
  .descricao-conhecimentos
    width: 60%
    margin-bottom: 3rem
  .knowl .desc
    margin: 0
    margin-left: 2rem
@media(max-width: 570px)
  .começo-con
    margin-left: 10vw
  .knowl .desc 
    width: 70%
  .cards .card
      padding: 0.1rem
      width: 2rem
      height: 1.7rem
      justify-content: center
      svg
        font-size: 1.7rem
  .cards
      gap: 1.5rem
  .text-cards
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      margin-bottom: 2rem
  .desc
      margin: 0
      margin-bottom: 5rem

@media (max-width: 425px)
  .knowl
    padding-bottom:10%
    display: flex
    justify-content: center
    .cards .card
      padding: 0.1rem
      width: 2rem
      height: 1.7rem
      justify-content: center
      svg
        padding: 0
        font-size: 1.7rem
    .cards
      justify-content: center
      width: 100%
      gap: 2rem
    .começo-con
      margin-left: 10vw
    .descricao-conhecimentos
      padding: 0
      margin: 0
      width: 80%
    .text-cards
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    .desc
      margin-left: 3rem
      margin-bottom: 3rem