@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap')
@import '../variables'

.knowl
  display: flex
  flex-direction: row
  max-height: 20%

.começo-con
  margin-left: 11vw
  max-height: 100%
  font-family: 'Source Code Pro', monospace

.fim-con
  font-family: 'Source Code Pro', monospace
  margin-left: 80vw

.conhecimentos-container
  flex: 1
  padding: 5rem
  max-width: 100%
  max-height: 0%

  p
    font-family: 'Signika Negative', sans-serif

  .descricao-conhecimentos
    text-align: left
    margin-left: 11vw
    max-width: 30%
    max-height: 1%

.cards
  margin-right: 16vw
  margin-top: -5vw
  margin-bottom: 3vw
  display: grid
  grid-template-columns: repeat(4, 6vw)
  gap: 2vw
  justify-content: flex-end
  font-family: 'Signika Negative', sans-serif

  .card
    width: 7vw
    height: 7vw
    border: 2px solid var(--secbackground-color-light) // Usando a variável para a cor da borda
    display: flex
    justify-content: center
    transition: border 0.3s

     // Usando a variável para a cor da borda no hover
    svg
      width: 40%
      height: 100%
.light-mode
  .knowl
    background-color: var(--secbackground-color-light)
  .cards .card
    border: 2px solid #d0d1f8
    background-color: var(--background-color-light)
    svg
    color: var(--footer-background-light)
    &:hover
        border: 2px solid var(--footer-background-light)

  .começo-con
    color: #040E34
  .fim-con
    color: #040E34

.dark-mode
  .knowl
        background-color: var(--secbackground-color-dark)
  .cards .card
    border: 2px solid #3f3f3f
    background-color: var(--background-color-dark)
    svg
        color: var(--purple-dark-mode)
    &:hover
      border: 2px solid var(--purple-dark-mode)
.começo-con
    color: var(--purple-dark-mode)
.fim-con
    color: var(--purple-dark-mode)
