@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap')
@import '../variables'

.knowl
  width: 100%
  .conhecimentos-container
  .desc
      margin-left: 11rem
      width: 80%
.começo-con
  padding-top: 1rem
  margin-left: 10rem
  max-height: 100%
  font-family: 'Source Code Pro', monospace

  p
    font-family: 'Signika Negative', sans-serif

  .descricao-conhecimentos
    text-align: left
    margin-left: 11vw
    max-width: 30%
    max-height: 1%

.cards
  margin-right: 16vw
  margin-top: 1vw
  padding-bottom: 4rem
  display: grid

  grid-template-columns: repeat(4, 6vw)
  gap: 1vw
  justify-content: flex-end
  font-family: 'Signika Negative', sans-serif
  max-height: 1%

  .card
    padding: 1rem
    width: 3vw
    height: 3vw
    border: 2px solid var(--secbackground-color-light) // Usando a variável para a cor da borda
    display: flex
    justify-content: center
    transition: border 0.3s

    svg
      font-size: 5rem
      margin-top: -1.5rem


    
.light-mode
  .knowl
    background-color: var(--secbackground-color-light)
    p
      color: #353535
  .cards .card
    border: 2px solid #d0d1f8
    background-color: var(--background-color-light)
    &:hover
      border: 2px solid var(--footer-background-light)
  svg
    color: var(--footer-background-light)
      

  .começo-con
    color: #040E34
  .fim-con
    color: #040E34

.dark-mode
  .knowl
        background-color: var(--secbackground-color-dark)
  .cards .card
    border: 2px solid #3f3f3f
    background-color: var(--background-color-dark)
    svg
        color: var(--purple-dark-mode)
    &:hover
      border: 2px solid var(--purple-dark-mode)
.começo-con
    color: var(--purple-dark-mode)
.fim-con
    color: var(--purple-dark-mode)

@media (max-width: 1024px)
  .knowl
    display: flex
    max-height: 150vw
    .cards
    margin: 0
    .card
      font-size: 1.5rem 

@media (max-width: 992px)
  .knowl
    .cards
      margin-right:  25%
      margin-bottom: 10%
      gap: 2.5rem
      .card
        padding: 40%
        width: 5vw 
        height: 5vw
        margin-top: 20%
    .começo-con
      margin-left: 10vw
    .descricao-conhecimentos
      width: 80%
      margin-left: -5%
    .conhecimentos-container
      margin: 0

@media(max-width: 570px)
  .knowl .desc 
    margin-left: 8rem
    width: 80%


@media (max-width: 378px)
  .knowl
    .cards
      gap: 2.2rem
      .card
        width: 6vw 
        height: 6vw
    .descricao-conhecimentos
      margin-left: -25%

@media (max-width: 320px)
  .knowl
    padding-bottom: 30%
    .cards
      margin-right:  25%
      gap: 2rem
      .card
        width: 6vw 
        height: 6vw
      svg
        font-size: 4rem
    .começo-con
      margin-left: 10vw
    .descricao-conhecimentos
      width: 80%
      margin-left: -30%
    .conhecimentos-container
      margin: 0
      
 