@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap')

.projects
    background-color: #E4E5EC

    .começo
        font-family: 'Source Code Pro', monospace
        color: #040E34
        margin-left: 20rem
        padding: 1rem

    .texto
        margin-left: 55rem
        font-family: 'Signika Negative', sans-serif

    .fim
        margin-left: 100rem
        padding: 1rem