// Seu arquivo Sass atual

.projects
    .começo
        font-family: 'Source Code Pro', monospace
        margin-left: 20rem
        padding: 1rem

    .texto
        margin-left: 53rem
        font-family: 'Signika Negative', sans-serif

    .fim
        margin-left: 99rem
        padding: 1rem

    

.light-mode
    .projects
        background-color: var(--secbackground-color-light)
        color: var(--text-color-light)
        img
            border: 2px solid #BDC0D6
            border-radius: 15px
        p
            color: #c7c7c7
        .texto
            color: black
        .overlay
            .buttons
                display: flex
                gap: 10px
                .button
                    padding: 10px 20px
                    background-color: var(--background-color-light)
                    color: var(--text-color-light)
                    text-decoration: none
                    border-radius: 5px
                    transition: background-color 0.3s
                    border: 2px solid var(--border-color-light)

                    &:hover
                        border: 2px solid var(--text-color-light)

.dark-mode
    .projects
        background-color: var(--secbackground-color-dark)
        color: var(--text-color-dark)
        img
            border: 5px solid #3f3f3f
            border-radius: 15px
        .overlay
            .buttons
                display: flex
                gap: 10px
                
                .button
                    padding: 10px 20px
                    background-color: var(--background-color-dark)
                    color: #fff
                    text-decoration: none
                    border-radius: 5px
                    transition: background-color 0.3s
                    border: 2px solid var(--border-color-dark)

                    &:hover
                        border: 2px solid grey
@media (max-width: 375px)
    .projects
        height: 120vw
        width: 99vw
        .texto
            margin: 0
            margin-left: 7vw
        .começo
            margin-left: 3vw
        .slider
            margin: 0
        .slider-container
            margin: 0
            margin-top: 5rem
        .fim
            margin-left: rem