@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap')

html
    scroll-behavior: smooth

p
    font-family: 'Source Code Pro', monospace
    color: #010514
    
body
    
    background-color: #ECECEF
    margin: 0
    padding: 0
    
.apresentacao
    p
        font-size: 20px
        font-family: 'Signika Negative', sans-serif


    h1
        margin-top: 10px
        font-size: 70px
        font-family: 'Gabarito', sans-serif
        color: #040E34

    margin-top: 10rem
    padding-bottom: .8rem
    padding-left: 23rem
    padding-top: 10rem